/*------------------HEADER-------------------*/
/*Barra General*/
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 4%;
    height: 4em;
    border-bottom: 0.063em solid var(--color-secundario);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/*Logo de la pagina*/
.barra-logo {
    height: 100%;
    width: 10%;
}

.barra-logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

.barra-logo img {
    height: 100%;
    width: auto;
    transition: all 0.3s ease;
}

.barra-logo img:hover {
    transform: scale(1.05);
}

/*Barra de busqueda*/
.barra-buscador {
    display: flex;
    width: 40%;
    height: 65%;
}

.barra-buscador form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    height: 100%;
    align-items: center;
    background: var(--color-secundario);
    border-radius: 50px;
}

.barra-buscador form input {
    flex: 1;
    background-color: transparent;
    padding: 0 0.1em;
    border: none;
    color: #1A1A18;
    font-size: 0.8em;
    outline: none;

}

.barra-buscador form input::placeholder {
    color: #1A1A18;
    font-size: 0.8em;
    opacity: 0.7;
}

/*Boton de busqueda*/
.barra-buscador button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-principal);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    padding: 0;
}

/* .barra-buscador button:hover {
    transform: scale(1.15);
    background: #0f2566;
} */

.barra-buscador button i {
    color: white;
    font-size: 1.2em;
}

/*Carrito*/
.buscador-carrito {
    height: 2.2em;
    width: 2.2em;
    /* width: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.buscador-carrito button {
    height: 80%;
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
    color: white;
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
}

.buscador-carrito:hover {
    background-color: var(--color-secundario);
}

.iniciarSesion:hover {
    background-color: initial;
}

.iniciarSesion a:hover {
    color: var(--color-secundario);
}

.buscador-carrito button i {
    font-size: 1em;
}

.buscador-carrito button span {
    position: absolute;
    display: flex;
    font-weight: bold;
    top: -10%;
    left: 100%;
    font-size: 0.8em;
    color: red;

}

/*CARRITO*/
.js-modalCarrito {
    display: none;
    border: none;
    align-items: center;
    justify-content: center;
}

.contenido_MainCarrito {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    left: 60%;
    height: 100%;
}

.js-modalCarrito::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.js-modalCarrito[open] {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;

}

.js-closeModalCarrito {
    top: 0.5em;
    border: none;
    height: 100%;
    right: 1em;
    background: transparent;
    font-size: 1.6em;
    color: var(--color-principal);
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 2em;
}

.contenedorPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.contenedorPrincipal h1 {
    display: inline-block;
    font-size: 1.5em;
    color: var(--color-principal);
    padding: 1em 0;
    padding-left: 1em;
}

.main_contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    gap: 2em;
    background: white;
    color: var(--color-principal);
}
.main_contenidoCompra {
  width: 35em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2em;
  gap: 2em;
  background: white;
  color: var(--color-principal);
  position: relative;
}

.main_productosCarrito {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main_producto {
    height: 10em;
    background: #f7f6f6;
    border: 2px solid #e9e7e7;
    display: flex;
}

.divProductoImagen {
    width: 35%;
    display: flex;
    height: 100%;
    border-right: 2px solid #e9e7e7;
    padding: 0.5em;
}

.imagenProducto {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.productoDescripcion {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    padding: 1em;

}

.descripcionIcono {
    position: absolute;
    left: 93%;
    top: 4%;
}

.productoDescripcionInfo {
    gap: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.productoDescripcion_precio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2em;
    font-weight: 600;
}

.InfoEliminar {
    color: red;
    border: none;
    background: none;
    padding: 0;
    text-align: start;
    display: inline-block;
    width: 4em;
    cursor: pointer;
}

.main_montoTotal {
    background: #f7f6f6;
    height: auto;
    border: 2px solid #e9e7e7;
    margin-bottom: 1em;
    width: 100%;
}

.main_montoTotal h3 {
    padding: 1em;
    border-bottom: 2px solid #e9e7e7;
}

.montoTotal_Descripcion {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.montoTotal_elemento {
    display: flex;
    justify-content: space-between;
}

#subtotal {
    display: flex;
    gap: 0.9em;
}

.total {
    border-top: 2px solid #e9e7e7;
}

.total span {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 0.5em;
}

.montoTotal_elementoComprar {
    height: 3em;
    margin-top: 0.5em;
    display: flex;
}

.montoTotal_elementoComprar a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    font-size: 1.3em;
    background: var(--color-secundario);
}

.montoTotal_elementoComprar a:hover {
    background: var(--color-principal);
}

.js-seccion3-dialog {
    border: none;
    display: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.js-seccion3-dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.js-seccion3-dialog[open] {
    display: flex;
}

.boton_cerrar {
    position: absolute;
    top: 1em;
    right: 1em;
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: var(--color-principal);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.boton_cerrar:hover {
    transform: scale(1.2);
}

.contenido_titulo {
    color: var(--color-principal);
    text-align: center;
}

.contenido_titulo h2 {
    font-size: 1.5em;

}

.contenido_botones {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contenido_botones button {
    text-decoration: none;
    text-align: center;
    font-size: 0.95em;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 3em;
    cursor: pointer;
}

.boton_individual,
.boton_grupal {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.boton_individual:hover,
.boton_grupal:hover {
    background-color: var(--color-secundarioDegradado);
    transform: translateY(-2px);
}
/*-------------------------------------------*/
/*------------------NAV-------------------*/
.navbar {
    display: flex;
    width: 100%;
    background-color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 0;
    gap: 1em;
    width: 100%;
    height: 100%;

}

.navbar ul li {
    height: 100%;
}

.navbar ul li a {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar ul li:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

/*-------------------------------------------*/

/*CELUS*/
@media (max-width: 484px) {

    /* HEADER*/
    .barra {
        flex-wrap: wrap;
        height: auto;
        padding: 1em 2em;
    }

    .barra-logo {
        height: 3.125em;
        width: 50%;

    }

    .barra-buscador {
        width: 100%;
        height: 2.5em;
        order: 2;
        margin-top: 1em;
    }

    .barra-buscador form {
        padding: 0 4%;
    }

    .barra-buscador input {
        font-size: 1em;
    }

    input::placeholder {
        font-size: 1em;
    }

    .barra-buscador button {
        width: 1.6em;
        height: 1.6em;
    }

    .barra-buscador button i {
        font-size: 0.8em;
    }

    .buscador-carrito {
        height: 4em;
        width: 4em;
        order: 1;
        /* justify-content: flex-end; */
    }

    .buscador-carrito a i {
        font-size: 1.5em;
    }

    .buscador-carrito a {
        height: 3.125em;
    }

    .buscador-carrito a span {
        font-size: 1.2em;
        /* top: 12%;
        left: 70%; */
    }

    .navbar ul {
        padding: 0.7em 0.5em;
        gap: 0.8em;
        flex-wrap: wrap;

    }

    .navbar ul li a {
        font-size: 0.9em;
    }
}

/*TABLETS*/
@media (min-width: 485px) and (max-width: 768px) {

    /*Header*/
    .barra {
        height: 2.8em;
    }

    .buscador-carrito {
        height: 2em;
        width: 2em;
    }

    .barra-buscador button {
        width: 1.5em;
        height: 1.5em;
    }

    .barra-buscador button i {
        font-size: 0.7em;
    }

    input::placeholder {
        font-size: 0.6em;
    }

    .buscador-carrito a span {
        /* top: 7%;
        left: 78%; */
        font-size: 0.6em;
    }

    .navbar ul {
        padding: 0.7em 0;
        gap: 0.8em;
        flex-wrap: wrap;

    }

    .navbar ul li a {
        font-size: 0.9em;
    }
}