
.mainCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0 4em 0;
}

.back {
  font-size: .8em;
  margin-right: 55em;
  margin-bottom: 36em;
  position: absolute;
}

.botonBack {
  height: 3em;
  width: 3em;
  padding: 0.5em;
  border-radius: 50%;
  color: var(--color-secundario);
  background-color: var(--color-principalDegradado);
  border-color: var(--color-secundarioDegradado);
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.botonBack:hover {
  background-color: var(--color-secundarioDegradado);
}

.calendar {
  background: #ffffff;
  border-radius: 1em;
  max-width: 50rem;
  width: 95%;
  overflow: auto;
  color: #000000;
  box-shadow: 1em 1em 1em var(--color-principalDegradado);
}

.calendar__arrows {
  display: flex;
}

.calendar__arrows button{
  background-color: transparent;
  border: none;
}

.calendar__arrows i {
  color: var(--color-principal);
  font-size: 1.5em;
  margin: 0 1em;
  margin-top: .65em;
}
.calendar__arrows i {
  transition: transform 0.1s ease, color 0.3s ease; /* transición inicial */
}
.calendar__arrows i:hover {
  color: var(--color-principalDegradado);
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 6 ease;
}

.hidden {
  opacity: 0;
  cursor: default;
}

.calendar_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: var(--color-secundario);
  position: relative;
}

.calendar_month {
  font-size: 2.5em;
  width: 6em;
  text-align: center;
}

.calendar_year {
  font-size: 1.6em;
  font-weight: 600;
}


.calendar__weekdays {
  padding: 0 0.5em 0 0.5em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
}

.calendar__weekdays p {
  font-size: 1em;
  padding: 0.75em 0;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0.5em;
}

.calendar__day {
  min-height: 3.125rem;
  border-radius: 0.8em;
  border: .0625rem solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em;
  overflow: hidden;
}

.calendar__day .events {
  margin-top: 0.3em;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.calendar__day.empty {
  border: none;
  cursor: auto;
}

.calendar__day h4 {
  font-size: 0.7em;
  font-weight: 400;
}

.calendar__day:not(.empty):hover {
  background-color: #f1f1f1;
}

.calendar__day.today {
  border: .125rem solid var(--color-secundario);
}

.calendar__day .events {
  margin-top: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  width: 100%;
  align-items: start;
}


.calendar__day .event {
  background-color: var(--color-principal);
  color: #ffffff;
  padding: 0.12em;
  border-radius: 0.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar__day--rojo .event {
  background-color: red;
}

.calendar__day .event:hover {
  background-color: var(--color-secundario);
}


.calendar__day a {
  text-decoration: none;
}

/* ------------- MEDIA QUERIES ------------- */

@media (min-width:400px) {
  .calendar__day {
    min-height: 5rem;
  }

}



@media (max-width: 768px) {
  .back {
    margin-top: -3.5em;
  }
}


@media (max-width: 840px) {

  .back {
    margin-right: 80%;
  }

}

/* --- CELUS ---*/
@media (max-width: 481px) {

  .back {
    font-size: .6em;
    margin-top: -30em;
  }

}

@media (max-width: 399px) {

  .back {
    margin-top: -11em;
  }

}


/* ------------- MEDIA QUERIES ------------- */
/* Popup iframe */
.event-iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none; /* oculto por defecto */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-iframe {
  width: 80%;
  height: 80%;
  border: 2px solid var(--color-principal);
  border-radius: 1em;
  background-color: white;
}

.event-iframe-container .close-iframe {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  color: white;
  cursor: pointer;
  z-index: 1001;
}



/*--------------POPUP--------------*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  color: #000000;
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  width: 60%;
  height: 70%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  word-break: break-word;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.212);
}

.popup__close {
  position: absolute;
  top: 0.7em;
  right: 1em;
  cursor: pointer;
  font-size: 1.8em;
  color: #000000;
  background: none;
  border: none;
  font-weight: bold;
  transition: transform 0.2s ease;
}
.popup__close:hover {
  transform: scale(1.1);
}
.popup__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-align: center;
}

.popup__description {
  font-size: 1rem;
  line-height: 1.6;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1em;
}
.popup__link {
  display: inline-block;
  align-self: flex-end;
  text-decoration: none;
  color:var(--color-principal);
  font-weight: bold;
  margin-top: 1em;
  transition: all 0.2s ease;
}
.popup__link:hover {
  transform: scale(1.1);
  color: var(--color-secundario);
}
.popup--hidden {
  display: none;
}
