.sectionWrap{
    border-radius: 15px;
    background-color: var(--color-principalDegradado);
    padding: 5em;
}

.volver{
    position: absolute;
    margin-right: 24.5em;
    margin-top: 1.5em;
}

.perfil__imgWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfil__imgBackground {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background-image: url(../../img/account-stuff/cambiarpfp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.perfil__img:hover {
    cursor: pointer;
    opacity: 20%;
}

.perfil__eliminarImg{
    height: 20em;
}

.perfil__imgWrap i{
    height: 1.1em;
    cursor: pointer;
}

.formProfile {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__input {
    font-size: 1.2em;
    width: 20em;
    height: 3em;
}

/* sacar las flechitas horribles del input number en Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* sacar las flechitas horribles del input number en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


input:focus {
    border: 2.3px solid var(--color-secundarioDegradado);
    outline: none;
}

.form__label {
    font-weight: bold;
}

.form__button {
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--color-secundario);
    background-color: var(--color-principalDegradado);
    border-color: var(--color-secundarioDegradado);

    transition: background-color 0.3s;
}

.form__button:hover {
    background-color: var(--color-secundarioDegradado);
}

.formWrap__a {
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold;
}

.perfil__button--guardar {
    border-radius: 0;
    width: 100%;
    border: 2px solid green;
}

.perfil__button--guardar:hover {
    background-color: green;
}