.main {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
    padding: 1rem;
}

.section__a {
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    width: 10em;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--color-secundario);
    background-color: var(--color-principalDegradado);
    border: 2px solid var(--color-secundarioDegradado);

    transition: background-color 0.3s;
}

.section__a:hover {
    background-color: var(--color-secundarioDegradado);
}